* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  display: flex;
  align-items: center;
  height: 65px;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 20px;
}

.header--image {
  height: 200%;
  margin-right: 6px;
  animation: rotation 10s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.header--title {
  font-size: 1.75rem;
  width: 100%;
  margin-right: auto;
  color: rgba(0, 0, 0, 0.7);
}
a {
  text-decoration: none;
  color: inherit;
}

ul {
  font-size: 1.2rem;

  width: auto 100%;
  list-style-type: none; /* Remove bullets */
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  text-align: left;
  white-space: nowrap;
}
